In [37]:
import os
import glob
import pandas as pd
import numpy as np

In [38]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [39]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [40]:
file = "combined_csv.csv"

In [41]:
df_2020 = pd.read_csv(file)
df_2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266950,597,2020-04-30 22:18:40.4140,2020-04-30 22:28:38.1280,3678,Fairmount Ave,40.725726,-74.071959,3279,Dixon Mills,40.721630,-74.049968,42240,Customer,1969,0
266951,311,2020-04-30 22:23:18.7780,2020-04-30 22:28:30.2980,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42535,Subscriber,1986,1
266952,167,2020-04-30 22:34:51.8480,2020-04-30 22:37:39.6690,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42615,Subscriber,1991,1
266953,520,2020-04-30 22:50:52.2380,2020-04-30 22:59:33.1620,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42403,Subscriber,1976,1
266954,1043,2020-04-30 22:54:39.0840,2020-04-30 23:12:02.1790,3191,Union St,40.718211,-74.083639,3275,Columbus Drive,40.718355,-74.038914,42255,Customer,1999,1

In [43]:
#df_2020.sort(by="starttime")

AttributeError: 'DataFrame' object has no attribute 'sort'

In [44]:
df_2020_less = df_2020.drop([ "tripduration","start station id", "start station latitude", "start station longitude", "end station id", "end station latitude", "end station longitude", "bikeid", "usertype", "birth year", "gender" ], axis=1)
df_2020_less.describe()
df_2020_less.dtypes

starttime             object
stoptime              object
start station name    object
end station name      object
dtype: object

In [45]:
df_2020_less.shape

(266955, 4)

In [46]:
#df_2020_less['tripduration']= pd.to_datetime(df_2020_less['tripduration']) 
#df_2020_less.dtypes

In [47]:
df_2020_clean = df_2020_less[(df_2020_less['starttime'] < '2020-07-01') & (df_2020_less['starttime'] >= '2020-03-01')]
df_2020_clean

,starttime,stoptime,start station name,end station name
0,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,Columbus Dr at Exchange Pl,Harborside
1,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,Heights Elevator,Marin Light Rail
2,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,Columbus Drive,Grand St
3,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,Morris Canal,Grand St
4,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,Harborside,Grove St PATH
...,...,...,...,...
266950,2020-04-30 22:18:40.4140,2020-04-30 22:28:38.1280,Fairmount Ave,Dixon Mills
266951,2020-04-30 22:23:18.7780,2020-04-30 22:28:30.2980,Sip Ave,Bergen Ave
266952,2020-04-30 22:34:51.8480,2020-04-30 22:37:39.6690,Journal Square,Hilltop
266953,2020-04-30 22:50:52.2380,2020-04-30 22:59:33.1620,Sip Ave,Astor Place
266954,2020-04-30 22:54:39.0840,2020-04-30 23:12:02.1790,Union St,Columbus Drive

In [48]:
df_2020_clean.sort_values(by=['starttime'])

,starttime,stoptime,start station name,end station name
110763,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,Newport PATH,Hamilton Park
162827,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,Newport PATH,Hamilton Park
214891,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,Newport PATH,Hamilton Park
162828,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,City Hall,JC Medical Center
214892,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,City Hall,JC Medical Center
...,...,...,...,...
73840,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,Newport Pkwy,Newport Pkwy
36919,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,Newport Pkwy,Newport Pkwy
110762,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,Newport Pkwy,Newport Pkwy
73841,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,Newport Pkwy,Newport Pkwy
36920,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,Newport Pkwy,Newport Pkwy

In [50]:
df_2020_clean['trips'] = np.arange(len(df_2020_clean))
df_2020_clean

,starttime,stoptime,start station name,end station name,trips
0,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,Columbus Dr at Exchange Pl,Harborside,0
1,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,Heights Elevator,Marin Light Rail,1
2,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,Columbus Drive,Grand St,2
3,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,Morris Canal,Grand St,3
4,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,Harborside,Grove St PATH,4
...,...,...,...,...,...
266950,2020-04-30 22:18:40.4140,2020-04-30 22:28:38.1280,Fairmount Ave,Dixon Mills,266950
266951,2020-04-30 22:23:18.7780,2020-04-30 22:28:30.2980,Sip Ave,Bergen Ave,266951
266952,2020-04-30 22:34:51.8480,2020-04-30 22:37:39.6690,Journal Square,Hilltop,266952
266953,2020-04-30 22:50:52.2380,2020-04-30 22:59:33.1620,Sip Ave,Astor Place,266953
266954,2020-04-30 22:54:39.0840,2020-04-30 23:12:02.1790,Union St,Columbus Drive,266954

In [51]:
#df = df[["C", "A", "B"]]

citiclean = df_2020_clean[["trips","starttime","stoptime","start station name", "end station name"]]
citiclean

,trips,starttime,stoptime,start station name,end station name
0,0,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,Columbus Dr at Exchange Pl,Harborside
1,1,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,Heights Elevator,Marin Light Rail
2,2,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,Columbus Drive,Grand St
3,3,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,Morris Canal,Grand St
4,4,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,Harborside,Grove St PATH
...,...,...,...,...,...
266950,266950,2020-04-30 22:18:40.4140,2020-04-30 22:28:38.1280,Fairmount Ave,Dixon Mills
266951,266951,2020-04-30 22:23:18.7780,2020-04-30 22:28:30.2980,Sip Ave,Bergen Ave
266952,266952,2020-04-30 22:34:51.8480,2020-04-30 22:37:39.6690,Journal Square,Hilltop
266953,266953,2020-04-30 22:50:52.2380,2020-04-30 22:59:33.1620,Sip Ave,Astor Place
266954,266954,2020-04-30 22:54:39.0840,2020-04-30 23:12:02.1790,Union St,Columbus Drive

In [52]:
citiclean.sort_values(by=['starttime'])

,trips,starttime,stoptime,start station name,end station name
110763,110763,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,Newport PATH,Hamilton Park
162827,162827,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,Newport PATH,Hamilton Park
214891,214891,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,Newport PATH,Hamilton Park
162828,162828,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,City Hall,JC Medical Center
214892,214892,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,City Hall,JC Medical Center
...,...,...,...,...,...
73840,73840,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,Newport Pkwy,Newport Pkwy
36919,36919,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,Newport Pkwy,Newport Pkwy
110762,110762,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,Newport Pkwy,Newport Pkwy
73841,73841,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,Newport Pkwy,Newport Pkwy
36920,36920,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,Newport Pkwy,Newport Pkwy

In [61]:
#df.rename(columns={"A": "a", "B": "c"})
newcitidf=citiclean.rename(columns={"starttime":"Date", "stoptime": "end date"})

In [62]:
newcitidf

,trips,Date,end date,start station name,end station name
0,0,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,Columbus Dr at Exchange Pl,Harborside
1,1,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,Heights Elevator,Marin Light Rail
2,2,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,Columbus Drive,Grand St
3,3,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,Morris Canal,Grand St
4,4,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,Harborside,Grove St PATH
...,...,...,...,...,...
266950,266950,2020-04-30 22:18:40.4140,2020-04-30 22:28:38.1280,Fairmount Ave,Dixon Mills
266951,266951,2020-04-30 22:23:18.7780,2020-04-30 22:28:30.2980,Sip Ave,Bergen Ave
266952,266952,2020-04-30 22:34:51.8480,2020-04-30 22:37:39.6690,Journal Square,Hilltop
266953,266953,2020-04-30 22:50:52.2380,2020-04-30 22:59:33.1620,Sip Ave,Astor Place
266954,266954,2020-04-30 22:54:39.0840,2020-04-30 23:12:02.1790,Union St,Columbus Drive

In [64]:
newcitidf.sort_values(by=['Date'])

,trips,Date,end date,start station name,end station name
110763,110763,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,Newport PATH,Hamilton Park
162827,162827,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,Newport PATH,Hamilton Park
214891,214891,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,Newport PATH,Hamilton Park
162828,162828,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,City Hall,JC Medical Center
214892,214892,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,City Hall,JC Medical Center
...,...,...,...,...,...
73840,73840,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,Newport Pkwy,Newport Pkwy
36919,36919,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,Newport Pkwy,Newport Pkwy
110762,110762,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,Newport Pkwy,Newport Pkwy
73841,73841,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,Newport Pkwy,Newport Pkwy
36920,36920,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,Newport Pkwy,Newport Pkwy

In [66]:
newcitidf['Date'] = pd.to_datetime(newcitidf['Date'])
newcitidf['end date'] = pd.to_datetime(newcitidf['end date'])

In [67]:
newcitidf

,trips,Date,end date,start station name,end station name
0,0,2020-06-01 00:02:21.750,2020-06-01 00:04:24.325,Columbus Dr at Exchange Pl,Harborside
1,1,2020-06-01 00:12:27.109,2020-06-01 00:33:50.054,Heights Elevator,Marin Light Rail
2,2,2020-06-01 01:19:59.209,2020-06-01 01:23:05.893,Columbus Drive,Grand St
3,3,2020-06-01 01:26:42.205,2020-06-01 01:28:53.804,Morris Canal,Grand St
4,4,2020-06-01 01:27:33.709,2020-06-01 01:32:00.189,Harborside,Grove St PATH
...,...,...,...,...,...
266950,266950,2020-04-30 22:18:40.414,2020-04-30 22:28:38.128,Fairmount Ave,Dixon Mills
266951,266951,2020-04-30 22:23:18.778,2020-04-30 22:28:30.298,Sip Ave,Bergen Ave
266952,266952,2020-04-30 22:34:51.848,2020-04-30 22:37:39.669,Journal Square,Hilltop
266953,266953,2020-04-30 22:50:52.238,2020-04-30 22:59:33.162,Sip Ave,Astor Place
266954,266954,2020-04-30 22:54:39.084,2020-04-30 23:12:02.179,Union St,Columbus Drive

In [73]:
newcitidf["Date"] = newcitidf['Date'].dt.date
newcitidf["end date"] = newcitidf['end date'].dt.date

In [63]:
newcitidf.to_csv('cleanciti_2020.csv')

In [74]:
newcitidf

,trips,Date,end date,start station name,end station name
0,0,2020-06-01,2020-06-01,Columbus Dr at Exchange Pl,Harborside
1,1,2020-06-01,2020-06-01,Heights Elevator,Marin Light Rail
2,2,2020-06-01,2020-06-01,Columbus Drive,Grand St
3,3,2020-06-01,2020-06-01,Morris Canal,Grand St
4,4,2020-06-01,2020-06-01,Harborside,Grove St PATH
...,...,...,...,...,...
266950,266950,2020-04-30,2020-04-30,Fairmount Ave,Dixon Mills
266951,266951,2020-04-30,2020-04-30,Sip Ave,Bergen Ave
266952,266952,2020-04-30,2020-04-30,Journal Square,Hilltop
266953,266953,2020-04-30,2020-04-30,Sip Ave,Astor Place
266954,266954,2020-04-30,2020-04-30,Union St,Columbus Drive

In [75]:
finaldf = newcitidf.sort_values(by=['Date'])
finaldf

,trips,Date,end date,start station name,end station name
110763,110763,2020-03-01,2020-03-01,Newport PATH,Hamilton Park
162915,162915,2020-03-01,2020-03-01,Glenwood Ave,Sip Ave
162916,162916,2020-03-01,2020-03-01,Newport Pkwy,Grove St PATH
162917,162917,2020-03-01,2020-03-01,JC Medical Center,JC Medical Center
162918,162918,2020-03-01,2020-03-01,Brunswick & 6th,Newark Ave
...,...,...,...,...,...
73588,73588,2020-06-30,2020-06-30,Newport Pkwy,Paulus Hook
73587,73587,2020-06-30,2020-06-30,Communipaw & Berry Lane,Communipaw & Berry Lane
73586,73586,2020-06-30,2020-06-30,City Hall,City Hall
110759,110759,2020-06-30,2020-07-01,Newport Pkwy,Newport Pkwy
110635,110635,2020-06-30,2020-06-30,Van Vorst Park,JC Medical Center

In [76]:
finaldf.to_csv('finalciti_2020.csv')