In [1]:
import os
import glob
import pandas as pd
os.chdir("Data/2020")

In [2]:
#look for files of extension type csv in folder Data/2020
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv("combined_csv.csv", index=False, encoding='utf-8-sig')

In [4]:
file = "combined_csv.csv"

In [5]:
df_2020 = pd.read_csv(file)
df_2020

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/22/2020,03:00:00,RECOVR AUD,7386928,2505750
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/22/2020,07:00:00,RECOVR AUD,7386935,2505759
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/22/2020,11:00:00,RECOVR AUD,7386975,2505840
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/22/2020,15:00:00,RECOVR AUD,7387107,2505884
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/22/2020,19:00:00,REGULAR,7387394,2505952
...,...,...,...,...,...,...,...,...,...,...,...
4548976,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/24/2020,05:00:00,REGULAR,5554,537
4548977,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/24/2020,09:00:00,REGULAR,5554,537
4548978,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/24/2020,13:00:00,REGULAR,5554,537
4548979,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/24/2020,17:00:00,REGULAR,5554,538
4548980,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/24/2020,21:00:00,REGULAR,5554,538

In [6]:
df_2020.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [7]:
df_2020_less = df_2020.drop(["C/A", "UNIT", "SCP", "STATION", "LINENAME", "DIVISION", "TIME", "DESC", "EXITS                                                               "], axis=1)
df_2020_less.describe()
df_2020_less.dtypes

DATE       object
ENTRIES     int64
dtype: object

In [8]:
df_2020_less['DATE']= pd.to_datetime(df_2020_less['DATE']) 
df_2020_less.dtypes

DATE       datetime64[ns]
ENTRIES             int64
dtype: object

In [9]:
df_2020_clean = df_2020_less[(df_2020_less['DATE'] < '2020-07-01') & (df_2020_less['DATE'] >= '2020-03-01')]
df_2020_clean

              DATE  ENTRIES
207023  2020-03-01  7395552
207024  2020-03-01  7395561
207025  2020-03-01  7395611
207026  2020-03-01  7395739
207027  2020-03-01  7395939
...            ...      ...
3929364 2020-06-30     5554
3929365 2020-06-30     5554
3929366 2020-06-30     5554
3929367 2020-06-30     5554
3929368 2020-06-30     5554

[3602620 rows x 2 columns]

In [11]:
entries_by_date = df_2020_clean.groupby(df_2020_clean['DATE'])['ENTRIES'].sum().reset_index()
entries_by_date.head(20)
entries_by_date.to_csv('../Cleaned/entries_by_date_2020.csv')