In [3]:
import pandas as pd
import os

In [10]:
file_path = os.path.join("COVID-19_Daily_Counts_of_Cases__Hospitalizations__and_Deaths.csv")
file_path2 = os.path.join("boroughs-case-hosp-death.csv")
covid_df = pd.read_csv(file_path)
covid_df

           DATE_OF_INTEREST  CASE_COUNT  HOSPITALIZED_COUNT  DEATH_COUNT
0    02/29/2020 12:00:00 AM           1                  11            0
1    03/01/2020 12:00:00 AM           0                   4            0
2    03/02/2020 12:00:00 AM           0                  21            0
3    03/03/2020 12:00:00 AM           2                  20            0
4    03/04/2020 12:00:00 AM           5                  22            0
..                      ...         ...                 ...          ...
200  09/16/2020 12:00:00 AM         305                   8            7
201  09/17/2020 12:00:00 AM         238                   6            2
202  09/18/2020 12:00:00 AM         152                   4            1
203  09/19/2020 12:00:00 AM          32                   0            0
204  09/20/2020 12:00:00 AM           7                   0            0

[205 rows x 4 columns]

In [11]:
boroughs_df = pd.read_csv(file_path2)
boroughs_df

,DATE_OF_INTEREST,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,BX_DEATH_COUNT,MN_CASE_COUNT,MN_HOSPITALIZED_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_HOSPITALIZED_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT
0,02/29/2020,0,4,0,0,3,0,1,2,0,0,2,0,0,0,0
1,03/01/2020,0,0,0,0,1,0,0,0,0,0,2,0,0,1,0
2,03/02/2020,0,4,0,0,9,0,0,4,0,0,4,0,0,0,0
3,03/03/2020,0,5,0,1,7,0,0,2,0,1,5,0,0,1,0
4,03/04/2020,1,5,0,0,6,0,2,6,0,2,3,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,09/16/2020,132,3,0,44,5,2,40,0,1,76,0,3,13,0,1
201,09/17/2020,85,0,1,43,6,0,26,0,0,67,0,1,17,0,0
202,09/18/2020,54,0,1,24,4,0,19,0,0,41,0,0,14,0,0
203,09/19/2020,8,0,0,7,0,0,9,0,0,7,0,0,1,0,0
204,09/20/2020,1,0,0,3,0,0,2,0,0,1,0,0,0,0,0