In [1]:
import pandas as pd
import os

In [2]:
#import the csv file
file_path = os.path.join("original_data/daily_counts_of_cases_hospitalizations_and_deaths.csv")
file_path2 = os.path.join("original_data/case_by_boroughs.csv")

#open the csv file as read
df = pd.read_csv(file_path)

#convert the dtype of the date column from object to datetime
df['DATE_OF_INTEREST'] = pd.to_datetime(df['DATE_OF_INTEREST'])

#rename the columns
df.columns = ["Date", "Case Count", "Hospitalized Count", "Death Count"]

#select the date of interest
covid_df = df.loc[1:122]
#display
covid_df.head()

        Date  Case Count  Hospitalized Count  Death Count
1 2020-03-01           0                   4            0
2 2020-03-02           0                  21            0
3 2020-03-03           2                  20            0
4 2020-03-04           5                  22            0
5 2020-03-05           3                  20            0

In [3]:
#open the csv file as read
df2 = pd.read_csv(file_path2)

#select the date of interest
covid_boroughs_df = df2.loc[1:122]

#select the case count
covid_boroughs_df = covid_boroughs_df[["DATE_OF_INTEREST", "BK_CASE_COUNT", "BX_CASE_COUNT","MN_CASE_COUNT", "QN_CASE_COUNT", "SI_CASE_COUNT"]]

#rename the column
covid_boroughs_df.columns = ['Date', 'Brooklyn', "Bronx", "Manhattan", "Queens", "Staten Island"]

#display
covid_boroughs_df.head()

         Date  Brooklyn  Bronx  Manhattan  Queens  Staten Island
1  03/01/2020         0      0          0       0              0
2  03/02/2020         0      0          0       0              0
3  03/03/2020         0      1          0       1              0
4  03/04/2020         1      0          2       2              0
5  03/05/2020         3      0          0       0              0

In [ ]:
#save the dataframe as csv files
covid_df.to_csv("covid_cases.csv")
covid_boroughs_df.to_csv("covid_boroughs.csv")